# Project specific local files
.vs/
.vscode/
.idea/

# Build directories
/out/

# Local binaries
/vdf/System/Autorun/YAGA.dll
/vdf/yaga.vdf
/vdf/_Work/Data/Sound/SFX/*.WAV
/vdf/_Work/Data/Sound/SFX/*.wav

# macOS
.DS_Store

# Emacs
*~
\#*\#
.\#*
.#*
