name: "YAGA CI/CD"

on:
  release:
    types: [created]

permissions:
  contents: write
    
jobs:
  yaga:
    runs-on: windows-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: x86
 
      - name: Compile yaga.dll & Build yaga.vdf
        run: |
          cmake . --preset MP-Release
          cmake --build --preset MP-Release
          cmake --build --preset MP-Release --target vdf

      - name: Upload yaga.vdf
        uses: softprops/action-gh-release@v2
        with:
          body_path: changelog.md
          files: vdf/yaga.vdf